html, body{
  background-color: black;
  color:white;
}


#systemsList{
  margin-top:50px;
  margin-right:100px;
  margin-left:100px;
  height: 100%;
}

.systemPictureImage{
  max-width: 700px;
  max-height: 300px;
}
