html, body{
  background-color: black;
  color:white;
}

#loadingScreenDiv{
  position: fixed;
  height:100vh;
  width: 100vw;
  z-index:1000;
  background-color: black;
  z-index:1000;
  pointer-events:none;
}

#loadingScreenPic{
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  pointer-events:none;
}


#tysonMotto{
  color: black;
  text-align: center;
  width: 50vw;
  margin-top: 50px;
}

#logoDiv{
  position:absolute;
  top: 50px;
  left:50px;
}

#tysonPic{
  width:20vw
}

#logoPic{
  width:35vw;
}

#searchForm{
  position:absolute;
  top: 50px;
  right:50px;
  width:30vw;
}

#systemsList{
  margin-top:170px;
  margin-right:100px;
  margin-left:100px;
  height: 100%;
}

.systemPictureImage{
  width: 700px;
  height: 300px;
}
