body, html {
  background-color: black;
  margin: 0;
  padding: 0;
  overflow:hidden;
}

#master_area{
  width: 100%;
  margin-top:100px;
  padding-right: 70px;
  background: transparent;
  border-width: 0px;
}



#object_description{
  background: white;
  border-width: 0px;
}
