html, body{
  overflow:hidden;
  background-color: black;
}
#object_description{
  background: white;
  border-width: 0px;
  margin-top:70px;
}

#positionLabel{
  color: white;
  position: absolute;
  left:30px;
  top:30px;
  z-index: 30;
}

#objectNameLabel{
  color: white;
  position: absolute;
  right:30px;
  top:30px;
  z-index: 30;
}

#objectsListDropdown{
  position: absolute;
  left:30px;
  top:70px;
}
