


#A{
  width:300px;
}

#object_description{
  background: white;
  border-width: 0px;
}

#positionLabel{
  color: white;
  position: absolute;
  left:30px;
  top:30px;
  z-index: 30;
}

#objectNameLabel{
  color: white;
  position: absolute;
  right:30px;
  top:30px;
  z-index: 30;
}
