html, body{
  background-color: black;
  color:white;
}

#loadingScreenDiv{
  position: absolute;
  top:0;
  left:0;
  height:100vh;
  width: 100vw;
  z-index:1000;
  background-color: black;
  z-index:5000;
  pointer-events:none;
}

#loadingScreenPic{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  pointer-events:none;
}


#returnSystemsButton{
  position: absolute;
  left:30px;
  top:30px;
  color:black;
  z-index:30;
}

#logoDiv{
  margin-top: 50px;
}

#tysonPic{
  width:20vw
}

#logoPic{
  margin-top:30px;
  width:35vw
}

#searchResults{
  margin-top:50px;
  margin-right:100px;
  margin-left:100px;
  height: 100%;
}

.highlightSearchPattern{
  color:black;
  background-color: yellow;
}


.objectPreview{
  width: 100px;
  height: 100px;
}

#searchForm{
  margin-top:50px;
  margin-bottom:50px;
  margin-left:30vw;
  margin-right:30vw;
}
