html, body{
  background-color: black;
  color:white;
}

#returnSystemsButton{
  position: absolute;
  left:30px;
  top:30px;
  color:black;
  z-index:30;
}

#logoDiv{
  margin-top: 50px;
}

#tysonPic{
  width:20vw
}

#logoPic{
  margin-top:30px;
  width:35vw
}

#searchResults{
  margin-top:50px;
  margin-right:100px;
  margin-left:100px;
  height: 100%;
}

.highlightSearchPattern{
  color:black;
  background-color: yellow;
}


.objectPreview{
  width: 500px;
  height: 500px;
}

#searchForm{
  margin-top:50px;
  margin-bottom:50px;
  margin-left:30vw;
  margin-right:30vw;
}
